<header class="bg-gray-900 text-white p-4 flex items-center justify-center shadow-md">
    <a routerLink="/" aria-label="Home page" class="flex items-center space-x-4">
        <img
            src="assets/Rick-And-Morty-Logo.png"
            width="150"
            height="auto"
            alt="Rick and Morty logo"
            class="hover:opacity-90 transition-opacity duration-300"
        />
        <span class="text-xl font-semibold hidden md:inline-block">Rick and Morty API</span>
    </a>
</header>

<nav class="bg-gray-800 p-4 shadow-sm">
    <ul class="flex gap-6 justify-center text-gray-200 font-medium">
        @for (link of headerLinks; track link.url) {
            <li>
                <a
                    routerLink="{{ link.url }}"
                    routerLinkActive="text-green-400"
                    class="hover:text-green-400 transition-colors"
                >
                    {{ link.text }}
                </a>
            </li>
        }
    </ul>
</nav>

<main class="bg-gray-900">
    <section [ngClass]="{ 'p-6 container mx-auto': !isNotFound }">
        <router-outlet></router-outlet>
    </section>
</main>
